# Django Templates
templates/**/*.html
*/templates/**/*.html
**/*templates/**/*.html

# All HTML files (if you want to be more broad)
*.html

# Static files (optional)
static/**/*
*/static/**/*

# Django files
*.py

# Other files you might want to ignore
node_modules/
dist/
build/
