{
  "overrides": [
    {
      "files": ["templates/**/*.html", "**/*templates/**/*.html"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore",
        "printWidth": 1000
      }
    }
  ]
}
